.fl {
    float: left; }

.fr {
    float: right; }

.ff {
    clear: both;
    margin: 0;
    padding: 0; }

.clearfix:after {
    clear: both;
    content: "";
    display: block; }

.abs-center {
    position: absolute;
    top: 50%;
    max-width: 100%;
    left: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.abs-center2 {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.abs-center3 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

header {
    padding-bottom: 20px; }
@media only screen and (max-width: 990px) {
    header {
        padding-bottom: 0; } }
header .brand {
    margin-top: 20px; }
@media only screen and (max-width: 990px) {
    header .brand {
        margin-top: 30px; } }
@media only screen and (max-width: 500px) {
    header .brand {
        margin-top: 10px; } }
header .brand a {
    display: block; }
@media only screen and (max-width: 990px) {
    header .brand a {
        width: 250px;
        overflow: hidden; } }
@media only screen and (max-width: 500px) {
    header .brand a {
        width: 180px; } }
@media only screen and (max-width: 500px) {
    header .brand img {
        width: 320px; } }
header .mobile-menu {
    margin-top: -60px; }
@media only screen and (max-width: 990px) {
    header .mobile-menu {
        margin-top: -50px; } }
header .unlogged {
    padding-top: 10px; }
@media only screen and (max-width: 500px) {
    header .user-menu {
        float: none !important; } }
header .user-menu #userbox {
    margin-right: 26px;
    line-height: 1; }
@media only screen and (max-width: 500px) {
    header .user-menu #userbox {
        margin-right: 15px; } }
header .user-menu #userbox .user-link .name
header .user-menu .lang {
    padding-top: 10px; }
header .user-menu .lang a, header .user-menu #userbox a {
    font-size: 14px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
header .user-menu .lang a:hover, header .user-menu #userbox a:hover {
    color: #fff4f3;
    text-decoration: none; }
header nav {
    margin-top: 15px; }
header nav ul {
    margin: 0; }
header nav .by-crossjob span {
    color: #fff4f3; }
header nav li.menu-item {
    border-right: 1px solid #edffef; }
header nav li.menu-item.last2, header nav li.menu-item.last {
    border-right: none; }
header nav li.menu-item a {
    position: relative; }
header nav li.menu-item a:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff4f3;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0; }
header nav li.menu-item a:hover {
    text-decoration: none; }
header nav li.menu-item a:hover:after {
    opacity: 1; }
header nav li.menu-item.current a:after {
    opacity: 1; }

#crossweb-loginbox {
    width: 450px;
    padding: 16px 25px 30px 25px; }
@media only screen and (max-width: 500px) {
    #crossweb-loginbox {
        position: fixed;
        padding: 15px;
        box-sizing: border-box;
        left: 0;
        margin: auto;
        max-width: 98%; } }
#crossweb-loginbox .headline {
    color: #fff4f3;
    font-weight: 700; }
#crossweb-loginbox .login-label {
    font-weight: 600;
    color: #fff4f3;
    font-size: 16px; }
@media only screen and (max-width: 500px) {
    #crossweb-loginbox .login-label {
        width: 50%;
        text-align: left; } }
#crossweb-loginbox .login-social-box {
    margin: 30px 0 0 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff4f3; }
#crossweb-loginbox .login-social-box .login-label {
    margin: 0;
    line-height: 35px; }
#crossweb-loginbox .login-social-box .fb-btn {
    width: 170px;
    height: 35px;
    display: block;
    margin: 0; }
@media only screen and (max-width: 500px) {
    #crossweb-loginbox .login-social-box .fb-btn {
        width: 50%; } }
@media only screen and (max-width: 500px) {
    #crossweb-loginbox .login-social-box .icon-loading {
        display: none; } }
#crossweb-loginbox .bottom {
    margin-top: 30px;
    padding-left: 60px;
    position: relative; }
@media only screen and (max-width: 500px) {
    #crossweb-loginbox .bottom {
        padding-left: 0; } }
#crossweb-loginbox .bottom .icon-loading {
    position: absolute;
    top: 2px;
    left: 0; }
.bottom a.bottom input[type="submit"] {
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: calc(50% - 10px);
    height: auto; }
#crossweb-loginbox .bottom a.btn-cancel, #crossweb-loginbox .bottom input[type="submit"].btn-cancel {
    background-color: #c6c6c6;
    line-height: 38px; }
#crossweb-loginbox .bottom a.submit, #crossweb-loginbox .bottom input[type="submit"].submit {
    background-color: #fff4f3;
    border: none; }

.userformbox .error {
    width: 100%;
    box-sizing: border-box; }
.userformbox form .txt {
    background-color: #f4f4f4 !important;
    color: #fff4f3 !important;
    margin-bottom: 18px; }
.userformbox form .forgot {
    color: #fff4f3; }

#container-form {
    margin-bottom: 55px; }
@media only screen and (max-width: 500px) {
    #container-form {
        margin-bottom: 30px; } }

.event-list *, .training-list * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; }
.event-list.promo .separator, .training-list.promo .separator {
    background-color: #fff4f3; }
@media only screen and (max-width: 990px) {
    .event-list.promo .separator, .training-list.promo .separator {
        font-size: 18px;
        font-weight: 900;
        padding-left: 10px; } }
.event-list.promo .list .tab-row a .colTab.date, .event-list.promo .list .tab-row a .colTab.title, .training-list.promo .list .tab-row a .colTab.date, .training-list.promo .list .tab-row a .colTab.title {
    color: #fff4f3; }
.event-list.promo .list .tab-row a .colTab.date .num, .training-list.promo .list .tab-row a .colTab.date .num {
    border-color: #fff4f3; }
.event-list.old, .training-list.old {
    margin-top: 40px; }
.event-list.old .list .tab-row a div.colTab.title, .event-list.old .list .tab-row a div.colTab.date, .training-list.old .list .tab-row a div.colTab.title, .training-list.old .list .tab-row a div.colTab.date {
    color: #fff4f3; }
.event-list.old .list .tab-row a div.colTab.date .num, .training-list.old .list .tab-row a div.colTab.date .num {
    border-color: #fff4f3; }
.event-list > h1, .event-list > h2, .training-list > h1, .training-list > h2 {
    font-size: 30px;
    color: #fff4f3;
    margin: 0 0 30px 0;
    line-height: 1;
    font-weight: 700;
    width: calc(100% - 270px); }
@media only screen and (max-width: 990px) {
    .event-list > h1, .event-list > h2, .training-list > h1, .training-list > h2 {
        width: 100%; } }
.event-list > h1 .number, .event-list > h2 .number, .training-list > h1 .number, .training-list > h2 .number {
    color: #fefff3; }
.event-list > h1 .city, .event-list > h2 .city, .training-list > h1 .city, .training-list > h2 .city {
    color: #000000; }
.event-list > h1 i, .training-list > h1 i {
    font-size: 10px;
    line-height: 30px;
    margin-right: 5px;
    color: #fff4f3; }
.event-list > h1 div, .training-list > h1 div {
    margin-right: 5px; }
.event-list > h1 div.cat-item, .training-list > h1 div.cat-item {
    color: #fff4f3; }
.event-list > h1 div.cat-item.grey, .training-list > h1 div.cat-item.grey {
    color: #fff4f3; }
.event-list > h2 i, .training-list > h2 i {
    font-size: 10px;
    line-height: 33px;
    margin-right: 5px;
    color: #fff4f3; }
.event-list > h2 div, .training-list > h2 div {
    margin-right: 5px; }
.event-list > h2 div.cat-item, .training-list > h2 div.cat-item {
    color: #fff4f3; }
.event-list .monthsbox, .training-list .monthsbox {
    border-top: 2px solid #000000;
    display: flex; }
@media only screen and (max-width: 990px) {
    .event-list .monthsbox, .training-list .monthsbox {
        border: none;
        display: block; } }
.event-list .monthsbox.show .month-leftbox .col-monthbox, .training-list .monthsbox.show .month-leftbox .col-monthbox {
    position: fixed;
    top: 10px;
    width: 100px; }
.event-list .month-leftbox, .training-list .month-leftbox {
    width: 115px;
    box-sizing: border-box;
    padding: 10px 15px 10px 0; }
@media only screen and (max-width: 990px) {
    .event-list .month-leftbox, .training-list .month-leftbox {
        width: 100%;
        padding: 0; } }
.event-list .month-leftbox .col-monthbox, .training-list .month-leftbox .col-monthbox {
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff4f3;
    text-align: center;
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #fff4f3; }
@media only screen and (max-width: 990px) {
    .event-list .month-leftbox .col-monthbox, .training-list .month-leftbox .col-monthbox {
        width: 100%;
        padding: 0 10px;
        line-height: 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        font-size: 18px;
        font-weight: 900;
        text-align: left;
        background-color: #000000;
        color: #000000; } }
.event-list .month-leftbox .col-monthbox div, .training-list .month-leftbox .col-monthbox div {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase; }
@media only screen and (max-width: 990px) {
    .event-list .month-leftbox .col-monthbox div, .training-list .month-leftbox .col-monthbox div {
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        color: #000000; } }
.event-list .list, .training-list .list {
    width: calc(100% - 115px); }
@media only screen and (max-width: 990px) {
    .event-list .list, .training-list .list {
        width: 100%; } }
.event-list .list .tab-row, .training-list .list .tab-row {
    border-top: 1px solid #fff4f3;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
.event-list .list .tab-row:first-child, .training-list .list .tab-row:first-child {
    border: none; }
.event-list .list .tab-row:hover, .training-list .list .tab-row:hover {
    background-color: #000000; }
.event-list .list .tab-row a, .training-list .list .tab-row a {
    display: block; }
.event-list .list .tab-row a div.colTab, .training-list .list .tab-row a div.colTab {
    box-sizing: border-box;
    font-weight: 700;
    color: #fff4f3;
    padding-top: 15px;
    line-height: 1.4; }
.event-list .list .tab-row a div.colTab.date, .training-list .list .tab-row a div.colTab.date {
    padding-top: 25px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff4f3; }
@media only screen and (max-width: 990px) {
    .event-list .list .tab-row a div.colTab.date, .training-list .list .tab-row a div.colTab.date {
        padding-left: 5px; } }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.date, .training-list .list .tab-row a div.colTab.date {
        font-size: 16px;
        width: 105px; } }
.event-list .list .tab-row a div.colTab.date.promo, .training-list .list .tab-row a div.colTab.date.promo {
    color: #D66561; }
.event-list .list .tab-row a div.colTab.date.up, .training-list .list .tab-row a div.colTab.date.up {
    padding-top: 8px; }
.event-list .list .tab-row a div.colTab.date .num, .training-list .list .tab-row a div.colTab.date .num {
    width: 54px;
    border-right: 2px solid #fff4f3;
    box-sizing: border-box; }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.date .num, .training-list .list .tab-row a div.colTab.date .num {
        width: 51px;
        padding-left: 3px; } }
.event-list .list .tab-row a div.colTab.date .name, .training-list .list .tab-row a div.colTab.date .name {
    padding-left: 6px; }
.event-list .list .tab-row a div.colTab.date .second, .training-list .list .tab-row a div.colTab.date .second {
    margin-top: 4px; }
.event-list .list .tab-row a div.colTab.date .second .num, .training-list .list .tab-row a div.colTab.date .second .num {
    font-size: 14px;
    padding-left: 2px; }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.date .second .num, .training-list .list .tab-row a div.colTab.date .second .num {
        padding-left: 0px; } }
.event-list .list .tab-row a div.colTab.date .second .name, .training-list .list .tab-row a div.colTab.date .second .name {
    font-size: 14px; }
.event-list .list .tab-row a div.colTab.title, .training-list .list .tab-row a div.colTab.title {
    width: calc(100% - 140px - 135px - 200px - 90px - 35px);
    color: #fff4f3; }
@media only screen and (max-width: 990px) {
    .event-list .list .tab-row a div.colTab.title, .training-list .list .tab-row a div.colTab.title {
        width: calc(100% - 140px - 135px - 30px); } }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.title, .training-list .list .tab-row a div.colTab.title {
        width: calc(100% - 100px - 90px);
        font-size: 16px;
        line-height: 1.2; } }
.event-list .list .tab-row a div.colTab.title .topics, .training-list .list .tab-row a div.colTab.title .topics {
    color: #fff4f3;
    font-size: 13px;
    font-weight: 400; }
.event-list .list .tab-row a div.colTab.title .topics i, .training-list .list .tab-row a div.colTab.title .topics i {
    display: inline-block;
    font-size: 4px;
    line-height: 21px;
    margin: 0 4px; }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.company-it, .training-list .list .tab-row a div.colTab.company-it {
        display: none; } }
.event-list .list .tab-row a div.colTab.city, .training-list .list .tab-row a div.colTab.city {
    font-weight: 300;
    width: 135px;
    padding-top: 25px; }
@media only screen and (max-width: 500px) {
    .event-list .list .tab-row a div.colTab.city, .training-list .list .tab-row a div.colTab.city {
        width: 80px;
        font-size: 16px; } }
.event-list .list .tab-row a div.colTab.type, .training-list .list .tab-row a div.colTab.type {
    width: 200px;
    font-weight: 300;
    padding-top: 25px; }
@media only screen and (max-width: 990px) {
    .event-list .list .tab-row a div.colTab.type, .training-list .list .tab-row a div.colTab.type {
        display: none; } }
.event-list .list .tab-row a div.colTab.cost, .training-list .list .tab-row a div.colTab.cost {
    width: 90px;
    font-weight: 300;
    padding-top: 25px; }
@media only screen and (max-width: 990px) {
    .event-list .list .tab-row a div.colTab.cost, .training-list .list .tab-row a div.colTab.cost {
        display: none; } }

.show-archive {
    color: #fff4f3;
    line-height: 30px;
    border: 2px solid #fff4f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    background: none; }
.show-archive:hover {
    background-color: #eaeaea;
    border-color: #eaeaea; }

div.separator {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700; }

footer {
    padding-top: 55px; }
footer .footer-menu h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: 900;
    color: #fff4f3; }
footer .footer-menu ul li {
    margin-bottom: 6px; }
footer .footer-menu ul li a {
    color: #fff4f3; }
footer .footer-menu form .button.right {
    line-height: 36px;
    height: auto;
    padding: 0 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

#top-searchbox {
    float: right;
    position: relative;
    margin-top: -4px; }
@media only screen and (max-width: 990px) {
    #top-searchbox {
        margin-top: -55px;
        right: 60px; } }
@media only screen and (max-width: 500px) {
    #top-searchbox {
        right: 55px; } }
#top-searchbox a {
    display: block;
    width: 38px;
    height: 34px;
    position: relative;}
#top-searchbox .formbox {
    width: 0;
    height: 35px;
    position: absolute;
    right: calc(100% - 2px);
    top: -1px;
    overflow: hidden;
    -webkit-transition: all 0.7s;
    /* Safari */
    transition: all 0.7s; }
#top-searchbox .formbox.active {
    width: 222px; }
#top-searchbox form {
    position: absolute;
    right: 0;
    top: 0; }
#top-searchbox form fieldset {
    padding: 0;
    border: none;
    width: 220px; }
#top-searchbox form fieldset input {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    height: 35px;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

#cats-contentbox {
    padding: 22px 0;
    overflow: visible; }
#cats-contentbox a.event_param, #cats-contentbox .arrow-city {
    display: block;
    float: left;
    margin: 0 6px 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #000000;
    color: #000000;
    line-height: 30px;
    padding: 0 12px; }
#cats-contentbox a.event_param:hover, #cats-contentbox a.event_param.active, #cats-contentbox .arrow-city:hover, #cats-contentbox .arrow-city.active {
    background-color: #fff4f3;
    border: 1px solid #fff4f3;
    color: #fff;
    text-decoration: none; }
#cats-contentbox a.event_param:first-child, #cats-contentbox .arrow-city:first-child {
    margin-left: 0; }
#cats-contentbox .form-box.form-topicsbox {
    width: 430px; }
@media only screen and (max-width: 767px) {
    #cats-contentbox .form-box.form-topicsbox {
        width: 100%; } }
@media only screen and (max-width: 500px) {
    #cats-contentbox .form-box.form-topicsbox .items {
        width: calc(100% - 85px); } }
#cats-contentbox .form-box.form-city, #cats-contentbox .form-box.form-topicsbox {
    position: relative; }
#cats-contentbox .form-box.form-city .items, #cats-contentbox .form-box.form-topicsbox .items {
    position: relative; }
#cats-contentbox .form-box.form-city .items > span, #cats-contentbox .form-box.form-topicsbox .items > span {
    display: block;
    float: left;
    margin-right: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff4f3;
    border: 1px solid #fff4f3;
    color: #fff;
    line-height: 30px;
    padding: 0 12px;
    font-size: 14px; }
#cats-contentbox .form-box.form-city {
    width: calc(100% - 530px);
    padding-right: 40px; }
@media only screen and (max-width: 990px) {
    #cats-contentbox .form-box.form-city {
        width: 100%; } }
@media only screen and (max-width: 767px) {
    #cats-contentbox .form-box.form-city {
        width: 100%;
        padding: 0; } }
#cats-contentbox .form-box.form-city > .items {
    width: calc(100% - 70px); }
@media only screen and (max-width: 990px) {
    #cats-contentbox .form-box.form-city > .items {
        width: calc(100% - 100px); } }
#cats-contentbox .form-box.form-city .selectbox {
    position: absolute;
    width: calc(100% - 3px);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
#cats-contentbox .form-box.form-city .selectbox.active {
    opacity: 1;
    visibility: visible; }
#cats-contentbox .form-box.form-city .selectbox input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 30px;
    height: auto;
    border: 1px solid #fff4f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff4f3;
    font-size: 14px; }
#cats-contentbox .form-box.form-city .selectbox .items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 12px 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #fff4f3; }
#cats-contentbox .form-box.form-city .selectbox .items.active {
    opacity: 1;
    visibility: visible; }
#cats-contentbox .form-box.form-city .selectbox .items .item {
    cursor: pointer;
    font-size: 14px;
    padding: 0 15px;
    line-height: 30px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: none; }
#cats-contentbox .form-box.form-city .selectbox .items .item.active {
    display: block; }
#cats-contentbox .form-box.form-city .selectbox .items .item:hover {
    background-color: #f4f4f4; }
#cats-contentbox .form-box.form-topic {
    display: none; }
#cats-contentbox .form-box h3 {
    font-weight: bold;
    font-size: 16px;
    color: #fff4f3;
    line-height: 30px;
    margin: 0 15px 0 0; }
@media only screen and (max-width: 990px) {
    #cats-contentbox .form-box h3 {
        width: 68px; } }
#cats-contentbox .form-box.topics-listbox {
    display: none;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff4f3; }
#cats-contentbox .form-box.topics-listbox.active {
    display: block; }
#cats-contentbox .form-box.topics-listbox input[type="text"] {
    width: 310px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 30px;
    height: auto;
    border: 1px solid #fff4f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff4f3;
    font-size: 14px; }
@media only screen and (max-width: 500px) {
    #cats-contentbox .form-box.topics-listbox input[type="text"] {
        width: 100%; } }
#cats-contentbox .form-box.topics-listbox .topics-items {
    width: calc(100% - 70px); }
@media only screen and (max-width: 767px) {
    #cats-contentbox .form-box.topics-listbox .topics-items {
        width: calc(100% - 85px); } }
#cats-contentbox .form-box.topics-listbox .selectbox {
    position: relative;
    margin-right: 6px; }
@media only screen and (max-width: 500px) {
    #cats-contentbox .form-box.topics-listbox .selectbox {
        width: 100%;
        margin: 0 0 8px 0; } }
#cats-contentbox .form-box.topics-listbox .selectbox.noactive {
    display: none; }
#cats-contentbox .form-box.topics-listbox .items, #cats-contentbox .form-box.topics-listbox .items-special {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 12px 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #fff4f3; }
#cats-contentbox .form-box.topics-listbox .items.active, #cats-contentbox .form-box.topics-listbox .items-special.active {
    opacity: 1;
    visibility: visible; }
#cats-contentbox .form-box.topics-listbox .items .item, #cats-contentbox .form-box.topics-listbox .items-special .item {
    cursor: pointer;
    font-size: 14px;
    padding: 0 15px;
    line-height: 30px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: none; }
#cats-contentbox .form-box.topics-listbox .items .item.active, #cats-contentbox .form-box.topics-listbox .items-special .item.active {
    display: block; }
#cats-contentbox .form-box.topics-listbox .items .item:hover, #cats-contentbox .form-box.topics-listbox .items-special .item:hover {
    background-color: #f4f4f4; }
#cats-contentbox .form-box.topics-listbox .items-special .item {
    display: block; }
#cats-contentbox .second-line {
    margin: 0 0 0 57px; }
#cats-contentbox .second-line a {
    margin-top: 3px; }

#btn-showtopics {
    line-height: 30px;
    font-size: 14px; }
@media only screen and (max-width: 990px) {
    #btn-showtopics {
        float: left !important; } }

#btn-addnew-favlist {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 15px; }
#btn-addnew-favlist.active {
    background-size: cover; }

#btn-favlist {
    box-sizing: border-box;
    display: block;
    border: 2px solid #fff4f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    position: relative;
    cursor: pointer; }
@media only screen and (max-width: 990px) {
    #btn-favlist {
        float: left !important;
        margin-bottom: 10px; } }
@media only screen and (max-width: 500px) {
    #btn-favlist {
        margin-bottom: 15px; } }
#btn-favlist:hover {
    background-color: #eaeaea;
    border-color: #eaeaea;
    text-decoration: none; }
#btn-favlist .items {
    opacity: 0;
    visibility: hidden;
    width: 335px;
    position: absolute;
    top: calc(100% + 10px);
    right: -2px;
    background-color: #fff;
    border: 1px solid #c2c2c4;
    padding: 10px;
    text-align: left; }
@media only screen and (max-width: 990px) {
    #btn-favlist .items {
        right: auto;
        left: -2px; } }
#btn-favlist .items.active {
    opacity: 1;
    visibility: visible; }
#btn-favlist .items div {
    height: 27px;
    overflow: hidden; }
#btn-favlist .items .info {
    display: block;
    line-height: 1.4; }
#btn-favlist .items a {
    display: inline-block;
    font-size: 15px;
    text-align: left;
    color: #fff4f3;
    position: relative;
    height: 27px; }
#btn-favlist .items a:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff4f3;
    position: absolute;
    bottom: 4px;
    left: 0;
    opacity: 0; }
#btn-favlist .items a:hover {
    text-decoration: none; }
#btn-favlist .items a:hover:before {
    opacity: 1; }
#btn-favlist .items a i {
    font-size: 5px;
    line-height: 31px;
    margin: 0 5px; }

.ui-tooltip {
    box-shadow: none;
    font-size: 14px; }

.popupbox {
    position: fixed;
    bottom: 50px;
    left: 50px;
    max-width: 600px;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #fff4f3;
    background-color: #fff;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
.popupbox.active {
    opacity: 1;
    visibility: visible; }
.popupbox div {
    display: none; }

input[type="text"] {
    font-family: 'lato'; }
input[type="text"]:focus {
    outline: none; }

#search-container {
    width: 100%;
    background-color: #e9e9e9;
    padding: 22px 0;
    margin-bottom: 40px; }
#search-container .content {
    width: 1240px;
    margin: 0 auto; }
#search-container .content h3 {
    font-weight: bold;
    font-size: 16px;
    color: #8a8c8f;
    line-height: 30px;
    margin: 0 15px 0 0; }
#search-container .content input[type="text"] {
    width: 250px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 30px;
    height: auto;
    border: 1px solid #fff4f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #8a8c8f;
    font-size: 14px; }

.training-contentform .form-city span, .training-contentform .form-topic span {
    font-size: 14px;
    padding: 0 12px 0 12px;
    background-color: #A5A5A5;
    color: #FFFFFF;
    margin-right: 6px;
    line-height: 30px;
    display: inline-block; }

#main-content-events .tab-row .colTab {
    padding-top: 15px; }

/*# sourceMappingURL=app-style.css.map *