
#rodzic > div > div {
    position:absolute;
    width:20px;
    height:20px;
    background-color:#FFF;
    border-radius:25%;
    box-shadow:0 0 4px 2px #000, 0 0 3px 1px #00F inset;
}

#prawo > div:nth-child(1) {
    left:10px;
    top:10px;
}

#prawo > div:nth-child(2) {
    left:70px;
    top:10px;
}

#prawo > div:nth-child(3) {
    left:70px;
    bottom:10px;
}

#prawo > div:nth-child(4) {
    left:10px;
    bottom:10px;
}